* {
	border: none;
	border-radius: 0;
	font-family: 'Fira Code';
	font-size: 17px;
	color: #f0cf8e;
}

window#waybar {
	background: rgba(0, 0, 0, .6);
}

#workspaces button {
	padding: 0 5px;
	border-top: 3px solid transparent;
}

#workspaces button.focused {
	border-top-color: #f0cf8e;
}

#mode {
	background: #64727D;
	border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #tray, #mode {
	margin: 0 5px;
	padding: 0 5px;
	border-top: 3px solid #f0cf8e;
}

#battery.charging {
	border-top-color: #218376;
}

@keyframes blink {
	to {
		border-top-color: #8f3128;
	}
}

#battery.warning:not(.charging) {
	animation-name: blink;
	animation-duration: .5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network.disconnected {
	border-top-color: #f53c3c;
}
