@namespace url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

/* Move hamburger menu to the left */
#PanelUI-button,
/*#customization-panel-container,*/
#customization-panelWrapper .panel-arrow {
	-moz-box-ordinal-group: 0 !important;
}

/* Hide Sign in to Sync */
/*#appMenu-fxa-container, #appMenu-fxa-container+toolbarseparator {
	display: none !important;
}*/
