@-moz-document url(about:blank) {
	html {
		background-image: url('chrome://branding/content/identity-icons-brand.svg') !important;
		background-repeat: no-repeat;
		background-position: center 50vh;
		background-color: #000;
	}
}
